<h2>Here are all the clients for this stylist:</h2>

@if (@Model["clients"].Count == 0)
{
  <p>No clients have been added yet!</p>
}
else
{
  <ol>
    @foreach (var client in @Model["clients"])
    {
      <li><a href="/client/@client.GetId()">@client.GetName()</a></li>
    }
  </ol>
}
<form action="/client/new" method="post">
  <label for="client-name">client's name</label>
  <input id="client-name" name="client-name" type="text">

  <input hidden id="client-stylist" name="client-stylist" value = '@Model["stylist"].GetId()'>


  <button type="submit">Add</button>
</form>
<p><a href="/">Return home</a></p>
